<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="text-black text-capitalize text-danger">The ID is not found</h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Movies" asp-action="index">Back to Home</a>
    </div>
</div>